@import "tailwindcss";

:root {
  --background: #ffffff; /* White background */
  --foreground: #171717; /* Dark text */
  --font-sans: system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
